# Operation on list

#### Create a list

In [6]:
list1=[10,20,30,40]
list2=["Bala",18,"Logesh",20]
print("The list element is:",list)
print("The list element of different values:",list2)

The list element is: [10, 20, 30, 40]
The list element of different values: ['Bala', 18, 'Logesh', 20]

#### Insert element

In [8]:
list1=[10,20,30,40]
list2=["Bala",18,"Logesh",20]
list1.insert(2,60)
list2.insert(2,"Jeyasheelan")
print("After Insert of the element:",list1)
print("After Insert of the element:",list2)

After Insert of the element: [10, 20, 60, 30, 40]
After Insert of the element: ['Bala', 18, 'Jeyasheelan', 'Logesh', 20]

#### Append element

In [9]:
list1=[10,20,30,40]
list2=["Bala",18,"Logesh",20]
list1.append(40)
list2.append("Jeyasheelan")
print("After Append:",list1)
print("After Append:",list2)

After Append: [10, 20, 30, 40, 40]
After Append: ['Bala', 18, 'Logesh', 20, 'Jeyasheelan']

#### Update element

In [10]:
list1=[10,20,30,40]
list2=["Bala",18,"Logesh",20]
list1[1]=99
list2[2]="Jeyasheelan"
print("After Update:",list1)
print("After Update:",list2)

After Update: [10, 99, 30, 40]
After Update: ['Bala', 18, 'Jeyasheelan', 20]

#### Delete element by index & value

In [12]:
list1=[10,20,30,40]
del list1[0]
print("After deletion (By index):",list1)
list2=[10,20,30,40]
list2.remove(40)
print("After deletion (By value):",list2)

After deletion (By index): [20, 30, 40]
After deletion (By value): [10, 20, 30]

#### Concatenate with another list

In [14]:
list1=[10,20,30,40]
list2=["Bala",18,"Logesh",20]
concatenate=list1+list2
print("Concatenated list:",concatenate)

Concatenated list: [10, 20, 30, 40, 'Bala', 18, 'Logesh', 20]

#### Length of the list

In [16]:
list1=[10,20,30,40]
print("The lengthh of the list is:",len(list1))

The lengthh of the list is: 4

#### Copy the list

In [18]:
list1=[10,20,30,40]
copy_list=list1.copy()
print("Copied list:",copy_list)

Copied list: [10, 20, 30, 40]